{% assign certifications = site.data.data.certifications %}
{% if certifications %}
<section class="publications">
    <h2 class="title">試験・資格</h2>
    <div class="publication-items">
        {% for certi in certifications%}
            <div class="publication-item">
                <div class="publication-title">
                    <a href="{{certi.link}}">{{certi.title}}</a>
                </div>
                <div class="authors">{{certi.authors}}</div>
                <div class="conference">{{certi.conference}}</div>   
            </div>
        {%endfor%}
    </div>
</section>
{% endif %}