{% assign certifications = site.data.data.certifications %}
{% if certifications %}
<section class="certifications">
    <h2 class="title">試験・資格</h2>
    <div class="certification-items">
        {% for cer in certifications%}
            <div class="certification-item">
                <div class="certification-title">
                    <a href="{{cer.link}}">{{cer.title}}</a>
                    <span class="time">{{cer.conference}}</span>
                </div>
                <div class="authors">{{cer.authors}}</div>
                <div class="conference">{{cer.conference}}</div>   
            </div>
        {%endfor%}
    </div>
</section>
{% endif %}