---
layout: default
---
<div class="container">
  {% include header.html %}
  <div class="container-block">
    <div class="sidebar">
      {% include contact.html %}
      {% include languages.html %}
      {% include education.html %}
      {% include skills.html %}
    </div>

    <div class="main">
      {% include career-profile_jp.html %}
      {% include experience_jp.html %}
      {% include certifications_jp.html %}
      {% include projects_jp.html %}
      {% include introduction_jp.html %}
    </div>
  </div>
</div>
